@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

nav{
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border-right: 2px solid rgba(0, 22, 22, 0.4);
}

ul h1{
    margin: 15px 0px 15px 0px;
}

hr{
    margin: 50px 0px 40px 0px;
}

.nav-ul{
    padding-left: 22px;
    list-style: none;
}

.nav-li{
    width: 180px;
    margin: 7px 0px 7px 0px;
    padding: 7px 0px 7px 0px;
    border-bottom: 1px solid #d6d6d6;
}

.nav-links{
    list-style: none;
    text-decoration: none;
    color: #000;
}

.light-bold{
    font-weight: 400;
}

.main-section{
    margin: 0 14%;
}

.center-spacing{
    margin: 0 14%;
}

.container{
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content: space-around;
}

.col-1{
    width: 55%;
}

.col-2{
    width: 55%; 
}

.img-resize{
    width: 245px; 
    height: 490px;
}

.accessories-img{
    width: 150px;
    height: 210px;
}

.accessories-img-2{
    width: 130px;
    height: 100px;
}

.accessories-img-3{
    width: 125px;
    height: 40px;
}

.accessories-img-4{
    width: 250px;
    height: 250px;
}

.accessories-img-5{
    width: 160px;
    height: 70px;
}

.img-spacing{
    margin: 30px 0px 30px 0px;
}

.heading{
    font-weight: 400;
    font-size: 2.2em;
    opacity: 0.8;
    margin-bottom: 17px;
}

.section-heading{
    font-weight: 400;
    font-size: 2.8em;
    opacity: 0.8;
    margin-bottom: 17px;
}

.content-heading{
    font-weight: 400;
    font-size: 2.0em;
    opacity: 0.8;
    margin-bottom: 17px;
    margin-top: 15px
}

.subcontent-heading{
    font-weight: 400;
    font-size: 1.5em;
    opacity: 0.8;
    margin-bottom: 17px;
    margin-top: 15px
}

.content-spacing{
    margin-top: 70px;
}

.p-spacing{
    margin-top: 35px;
}

.line-height{
    line-height: 1.8em;
}

.content-size{
    height: 580px;
}

.flex-end{
   display: flex;
   justify-content: flex-end;
}

.flex-start{
    justify-content: flex-start;
}

.caption-size{
    font-size: 1.3em;
}

.setup-list{
    margin-bottom: 20px;
    margin-left: 25px;
}

.setup-list-elements{
    margin-bottom: 15px;
    margin-top: 15px;
}


#main-doc{
    margin-left: 250px;
}

#welcome{
    background: linear-gradient(to bottom,#fff 0,#f2f2f2 100%);
    height: 400px;
}

#welcome h1{
    margin-top: 25px;
    margin-bottom: 17px;
    font-size: 2.8em;
}

#welcome p{
   font-size: 1.3em;
}

#welcome img{
    width: 80%;
}

#set-up p{
    margin-bottom: 20px;
}

#set-up ol{
    margin-bottom: 20px;
    margin-left: 17px;
}

#set-up ol li{
    margin-bottom: 15px;
}

#set-up ol li img{
    margin: 30px 0px 30px 0px;
    width: 500px;
}

#siri img{
    width: 390px; 
    height: 490px;
}

@media only screen and (max-width: 1100px){
    .img-resize{
        width: 173px;
        height: 360px;
    }
}
