@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

nav{
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border-right: 2px solid rgba(0, 22, 22, 0.4);
}

ul{
    padding-left: 22px;
    list-style: none;
}

ul h1{
    margin: 15px 0px 15px 0px;
}

ul li{
    width: 180px;
    margin: 7px 0px 7px 0px;
    padding: 7px 0px 7px 0px;
    border-bottom: 1px solid #d6d6d6;
}

.nav-links{
    list-style: none;
    text-decoration: none;
    color: #000;
}

.light-bold{
    font-weight: 400;
}

.main-section{
    margin: 0 14%;
}

.center-spacing{
    margin: 0 14%;
}

.container{
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content: space-around;
}

.col-1{
    width: 55%;
}

.col-2{
    width: 55%; 
}

.img-resize{
    width: 245px; 
    height: 490px;
}

.heading{
    font-weight: 400;
    font-size: 2.2em;
    opacity: 0.8;
    margin-bottom: 17px;
}

.section-heading{
    font-weight: 400;
    font-size: 2.5em;
    opacity: 0.8;
    margin-bottom: 17px;
}

.content-spacing{
    margin-top: 70px;
}

.p-spacing{
    margin-top: 35px;
}

.line-height{
    line-height: 1.8em;
}

.content-size{
    height: 580px;
}

.flex-end{
   display: flex;
   justify-content: flex-end;
}

.flex-start{
    justify-content: flex-start;
}

.caption-size{
    font-size: 1.3em;
}


#main-doc{
    margin-left: 250px;
}

#welcome{
    background: linear-gradient(to bottom,#fff 0,#f2f2f2 100%);
    height: 400px;
}

#welcome h1{
    margin-top: 25px;
    margin-bottom: 17px;
    font-size: 2.8em;
}

#welcome p{
   font-size: 1.3em;
}

#welcome img{
    width: 80%;
}
